// Daniel Stribling  |  ORCID: 0000-0002-0649-9506
// Renne Lab, University of Florida
// hkref (hybkit Reference) Project : http://www.github.com/RenneLab/hkref 
// Hybkit Project                   : http://www.github.com/RenneLab/hybkit

// Pipeline Details
manifest {
    author = 'Daniel Stribling, Rolf Renne'
    defaultBranch = 'master'
    description = """\
    Hybkit Reference (hkref) : A database and preparation pipelne for preparing 
    a fasta sequence library for analysis of hybrid sequences generated through
    RNA-ligation and sequencing methods such as Quick Crosslinking, Ligation, 
    and Sequencing of Hybrids experiments.
    """.stripIndent()
    //doi
    //homePage = 'http://www.RenneLab.com'
    mainScript = 'hkref_build.nf'
    name = 'hkref'
    nextflowVersion = '>=20.10.6'
    version = '1.0'
}

params.user_email = "${USER_EMAIL}"

process.maxRetries = 3

//singularity.enabled  = true
//singularity.cacheDir = "${projectDir}/envs_singularity"
conda.cacheDir = "${projectDir}/envs_conda"
conda.enabled = true

params {
    // -- Database Info:

    build_dbs = [
        'hsa-110-dev1_full': [
            'db_settings': "${projectDir}/settings_db_hsa.yaml",
            'ensembl_sets': ['protein_coding', 'lncRNA', 'rRNA', 'tRNA', 'other'],
            //'ensembl_sets': ['test'],
            //'ensembl_sets': ['protein_coding'],
            'ext_dbs': ['tRNA'],
            'genbank_trnas': true,
        ],
        'hsa-110-dev1_sel': [
            'db_settings': "${projectDir}/settings_db_hsa.yaml",
            'ensembl_sets': ['protein_coding', 'lncRNA', 'other'],
            //'ensembl_sets': ['test'],
            //'ensembl_sets': ['protein_coding'],
            //'ext_dbs': ['tRNA'],
            'ext_dbs': [],
            'genbank_trnas': false,
        ]
    ]
    settings_output = "${projectDir}/settings_output.yaml"
    settings_project = "${projectDir}/settings_project.yaml"

    // -- Process Environment Variables
    python_conda = 'bioconda::pybiomart=0.2.0 pandas=1.3.5 bioconda::biothings_client=0.2.6 conda-forge::biopython=1.79 pyyaml=6.0 natsort=7.1.1'
    seqkit_conda = 'conda-forge::biopython=1.79 bioconda::seqkit=2.5.1 pyyaml=6.0'
    cluster_conda = 'conda-forge::biopython=1.79 bioconda::cd-hit=4.8.1 bioconda::blast=2.14.1'
    mask_conda = 'conda-forge::libgcc-ng=9.3 bowtie2=2.4.4 bioconda::bedtools=2.30.0 bioconda::bedops=2.4.39'

} 
